@layer components {
  [data-ui='menubar'] {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
    padding: var(--spacing-6);
    border: 1px solid var(--color-surface-variant);
    width: fit-content;
    background-color: var(--color-surface);
    border-radius: var(--radius-md);
    box-shadow: 0 5px 20px -10px color-mix(in srgb, var(--color-on-background) 8%, transparent);

    [data-ui='menubar-trigger'] {
      border: 0;
      background: transparent;
      padding: var(--spacing-4) var(--spacing-8);
      border-radius: var(--radius-sm);
      background-color: var(--color-background);
      color: var(--color-on-background);
      user-select: none;
      transition: var(--transition-expressive-fast-effects);
      cursor: pointer;
      outline: 0;

      &[data-disabled] {
        opacity: 0.38;
      }

      &:focus-visible {
        box-shadow: 0 0 0 2px var(--color-surface-container-high);
      }

      &:not([data-disabled]) {
        &:hover,
        &[data-pressed] {
          background-color: var(--color-surface-container-high);
        }
      }
    }
  }
}
