@layer utilities {
  [data-slot='dialog-overlay'],
  [data-slot='alert-dialog-overlay'] {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    background-color: color-mix(in srgb, currentcolor 15%, transparent);
    z-index: 50;

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
    }
  }

  [data-slot='dialog-trigger'],
  [data-slot='dialog-close'] {
    background: transparent;
    border: none;
    outline: none;
  }

  [data-ui='dialog-content'],
  [data-ui='alert-dialog-content'] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: calc(95vw);
    max-height: calc(100vh - 8vh);
    min-height: 0;
    z-index: 55;
    background: var(--color-background);
    border-radius: var(--radius-xl);
    padding: var(--spacing-16) var(--spacing-24);
    transition: var(--transition-expressive-default-spatial);
    box-shadow: 0 0 0 var(--spacing-4) color-mix(in oklab, var(--color-background) 30%, transparent);

    transform: translate(-50%, -50%) scale(calc(1 - 0.2 * var(--nested-dialogs)));
    translate: 0 calc(var(--spacing-24) * var(--nested-dialogs));

    [data-slot='dialog-close-icon'] {
      position: absolute;
      top: 18px;
      right: var(--spacing-16);
    }

    [data-ui='dialog-header'] {
      [data-ui='dialog-title'] {
        font: var(--font-title-md);
      }

      [data-ui='dialog-description'] {
        font: var(--font-body-md);
        color: var(--color-on-surface-variant);
      }
    }

    [data-ui='dialog-footer'] {
      border-top: 1px solid var(--color-surface-variant);
      padding-top: var(--spacing-16);
      margin-inline: calc(var(--spacing-24) * -1);

      > div {
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-14);
        padding-inline: var(--spacing-24);
      }
    }

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}
