[build.environment]
NODE_VERSION = "24.20.0"
NPM_VERSION = "11.19.0"
PNPM_VERSION = "11.25.0"
TZ = "Asia/Jakarta"

[build]
publish = "dist"
command = "pnpm run build"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
