@layer components {
  [data-ui='rating-review'] {
    display: flex;
    gap: var(--spacing-2);
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);

    & > svg {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }

    /* Variant */
    &[data-variant='star'] {
      --color: #f6b51e;
    }

    &[data-variant='heart'] {
      --color: #fb3748;
    }

    [data-filled='true'] {
      color: var(--color);
      fill: currentColor;
    }
  }
}
