@layer components {
  [data-ui='drawer-popup'] {
    /* Handle */
    &:has([data-ui='drawer-handle']) {
      --handle-width: 70px;
      --handle-height: 6px;

      [data-ui='drawer-handle'] {
        position: absolute;
        border-radius: var(--radius-rounded);
        background-color: var(--color-surface-container-highest);
        transition: all var(--transition-standard-fast-effects);

        left: 50%;
        transform: translateX(-50%);
        top: 5%;
        width: 70px;
        height: 6px;

        &:hover {
          background-color: var(--color-outline-variant);
        }
      }

      &[data-swipe-direction='bottom'] {
        [data-ui='drawer-content'] {
          padding-block-start: var(--spacing-32);
        }
      }

      &[data-swipe-direction='right'],
      &[data-swipe-direction='left'],
      &[data-swipe-direction='top'] {
        [data-ui='drawer-handle'] {
          display: none;
        }
      }
    }
  }

  [data-ui='drawer-portal'] {
    --drawer-min-height: 40vh;
    --drawer-max-height: 80vh;
    --drawer-min-width: 300px;
    --drawer-max-width: 100vw;
    --padding-block: var(--spacing-14);

    [data-ui='drawer-backdrop'] {
      position: fixed;
      inset: 0;
      backdrop-filter: blur(4px);
      background-color: color-mix(in srgb, currentcolor 15%, transparent);
      z-index: 50;
    }

    [data-ui='drawer-popup'] {
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 55;
      background-color: var(--color-background);
      color: var(--color-on-background);

      &:focus-visible {
        outline: 0;
      }

      /* Default: Bottom */
      &[data-swipe-direction='bottom'] {
        inset-inline: var(--spacing-4);
        margin-inline: auto;
        bottom: var(--spacing-0);
        width: 100dvw;
        min-height: var(--drawer-min-height);
        max-height: var(--drawer-max-height);
        text-align: center;
        border-radius: var(--radius-xl-inc) var(--radius-xl-inc) 0 0;
        padding: var(--padding-block) var(--spacing-24);

        [data-slot='drawer-close'] {
          display: none;
        }
      }

      /* Right Direction */
      &[data-swipe-direction='right'] {
        top: var(--spacing-0);
        right: var(--spacing-0);
        bottom: auto;
        left: auto;
        min-height: 100vh;
        width: var(--drawer-min-width);
        text-align: left;
        border-radius: var(--radius-xl-inc) 0 0 var(--radius-xl-inc);
        padding: var(--padding-block) var(--spacing-24);

        @media (max-width: 640px) {
          border-radius: 0;
          width: var(--drawer-max-width);
        }
      }

      /* Left Direction */
      &[data-swipe-direction='left'] {
        top: var(--spacing-0);
        left: var(--spacing-0);
        bottom: auto;
        right: auto;
        min-height: 100vh;
        width: var(--drawer-min-width);
        text-align: left;
        border-radius: 0 var(--radius-xl-inc) var(--radius-xl-inc) 0;
        padding: var(--padding-block) var(--spacing-24);

        @media (max-width: 640px) {
          border-radius: 0;
          width: var(--drawer-max-width);
        }
      }

      /* Top Direction */
      &[data-swipe-direction='top'] {
        top: var(--spacing-0);
        left: var(--spacing-0);
        bottom: auto;
        width: 100dvw;
        text-align: center;
        min-height: var(--drawer-min-height);
        max-height: var(--drawer-max-height);
        border-radius: 0 0 var(--radius-xl-inc) var(--radius-xl-inc);
        padding: var(--padding-block) var(--spacing-24);

        [data-slot='drawer-close'] {
          display: none;
        }
      }

      /* Content area inside popup */
      [data-ui='drawer-content'] {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);

        /* Header */
        [data-ui='drawer-header'] {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-block-start: var(--spacing-4);

          [data-slot='drawer-close'] {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: -10px;
          }

          [data-ui='separator'] {
            width: calc(100% + (var(--spacing-24) * 2) + var(--spacing-32));
            margin-inline: calc(var(--spacing-24) * -1);
            margin-block-start: var(--padding-block);
          }

          &:has([data-slot='drawer-close']) {
            padding-right: var(--spacing-32);
          }

          &:not(:has([data-slot='drawer-close'])) {
            [data-ui='separator'] {
              width: calc(100% + (var(--spacing-24) * 2));
            }
          }

          [data-ui='drawer-title'] {
            font: var(--font-title-md);
          }

          [data-ui='drawer-description'] {
            font: var(--font-body-md);
            color: var(--color-on-surface-variant);
          }
        }

        /* Footer */
        [data-ui='drawer-footer'] {
          margin-top: auto;

          [data-ui='drawer-footer-children'] {
            display: flex;
            gap: var(--spacing-8);
            justify-content: center;

            > * {
              flex: 1;
            }
          }

          [data-ui='separator'] {
            width: calc(100% + var(--spacing-24) * 2);
            margin-inline: calc(var(--spacing-24) * -1);
            margin-block-end: var(--padding-block);
          }
        }
      }
    }
  }
}
