@layer components {
  [data-ui='tabs'] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);

    &[data-orientation='vertical'] {
      flex-direction: row;
    }

    [data-ui='tabs-panel'] {
      width: 100%;
    }

    [data-ui='tabs-list'] {
      position: relative;
      width: fit-content;
      display: flex;
      align-items: center;
      border-radius: var(--radius-md);
      background: var(--color-surface-container-low);
      padding: var(--spacing-4);

      [data-ui='tabs-tab'] {
        position: relative;
        cursor: pointer;
        padding: var(--spacing-6) var(--spacing-12);
        border: 0;
        outline: 0;
        border-radius: var(--radius-sm);
        background-color: transparent;
        color: var(--color-on-background);
        white-space: nowrap;
        user-select: none;
        transition: var(--transition-expressive-fast-effects);
        z-index: 1;
        font: var(--font-label-lg);
        font-weight: 500;

        &:not([data-active]) {
          opacity: 0.7;
        }

        &:hover:not([data-active]) {
          opacity: 0.85;
        }
      }

      &[data-orientation='vertical'] {
        flex-direction: column;

        [data-ui='tabs-tab'] {
          text-align: left;
        }
      }

      [data-ui='tabs-indicator'] {
        position: absolute;
        background-color: var(--color-surface-container-lowest);
        border-radius: var(--radius-sm);
        transition: var(--transition-expressive-default-spatial);
        z-index: 0;
        inset: 0;
        left: var(--active-tab-left);
        top: var(--active-tab-top);
        width: var(--active-tab-width);
        height: var(--active-tab-height);

        &[data-orientation='vertical'] {
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% - var(--spacing-4) * 2);
        }
      }
    }
  }
}
