@layer components {
  [data-ui='tooltip-portal'] {
    [data-ui='tooltip-content'] {
      border: 0.5px solid var(--color-surface-variant);
      color: var(--color-tooltip);
      background-color: var(--color-on-tooltip);
      transform-origin: var(--transform-origin);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-8);
      transition: var(--transition-standard-fast-effects);

      /* Variant */
      &[data-variant='light'] {
        --color-tooltip: var(--color-on-background);
        --color-on-tooltip: var(--color-background);
      }

      &[data-variant='dark'] {
        --color-tooltip: var(--color-background);
        --color-on-tooltip: var(--color-on-background);
      }

      /* Size */
      &[data-size='sm'] {
        height: 20px;
        padding-inline: var(--spacing-6);
        border-radius: var(--radius-xs);
        font: var(--font-body-sm);
      }

      &[data-size='md'] {
        height: 28px;
        padding-inline: var(--spacing-10);
        border-radius: calc(var(--radius-sm) - var(--spacing-2));
        font: var(--font-body-md);
      }

      &[data-size='lg'] {
        padding: var(--spacing-12);
        gap: var(--spacing-12);
        border-radius: var(--radius-md);
      }

      &[data-starting-style],
      &[data-ending-style] {
        opacity: 0;
        scale: 0.5;
      }
    }
  }
}
