@layer components {
  [data-ui='alert'] {
    --icon-size: 18px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font: var(--font-body-md);
    width: 100%;

    &:not(&:has([data-ui='alert-description'])) {
      align-items: center;
    }

    /* Status */
    &[data-status='error'] {
      --color-alert: var(--color-error);
      --color-on-alert: var(--color-on-error);
      --color-alert-container: var(--color-error-container);
      --color-on-alert-container: var(--color-on-error-container);
    }

    &[data-status='warning'] {
      --color-alert: var(--color-warning);
      --color-on-alert: var(--color-on-warning);
      --color-alert-container: var(--color-warning-container);
      --color-on-alert-container: var(--color-on-warning-container);
    }

    &[data-status='feature'] {
      --color-alert: var(--color-on-surface-variant);
      --color-on-alert: var(--color-surface-variant);
      --color-alert-container: var(--color-surface-container);
      --color-on-alert-container: var(--color-on-surface);
    }

    &[data-status='success'] {
      --color-alert: var(--color-success);
      --color-on-alert: var(--color-on-success);
      --color-alert-container: var(--color-success-container);
      --color-on-alert-container: var(--color-on-success-container);
    }

    &[data-status='information'] {
      --color-alert: var(--color-info);
      --color-on-alert: var(--color-on-info);
      --color-alert-container: var(--color-info-container);
      --color-on-alert-container: var(--color-on-info-container);
    }

    &[data-size='lg'] {
      --icon-size: var(--spacing-24);

      height: auto;
      gap: var(--spacing-12);
      padding: var(--spacing-14);
      border-radius: var(--radius-md);
      font: var(--font-body-lg);
    }

    &[data-size='md'] {
      padding: var(--spacing-10);
      gap: var(--spacing-8);
      border-radius: var(--radius-sm);
      font: var(--font-body-md);
    }

    &[data-size='sm'] {
      padding: var(--spacing-8);
      border-radius: var(--radius-sm);
      font: var(--font-body-sm);
      gap: var(--spacing-8);
    }

    /* Variant */
    &[data-variant='filled'] {
      background-color: var(--color-alert);
      color: var(--color-on-alert);
    }

    &[data-variant='light'] {
      background-color: color-mix(in srgb, var(--color-alert-container), var(--color-alert) 24%);
      color: var(--color-on-alert-container);
    }

    &[data-variant='lighter'] {
      background-color: var(--color-alert-container);
      color: var(--color-on-alert-container);
    }

    &[data-variant='stroke'] {
      border: 1px solid var(--color-surface-variant);
      box-shadow: 0 10px 32px -12px color-mix(in srgb, var(--color-on-background) 15%, transparent);

      svg {
        color: var(--color-alert);
      }
    }

    [data-ui='alert-icon'] {
      display: grid;
      place-content: center;

      svg {
        width: var(--icon-size);
        height: var(--icon-size);
        flex-shrink: 0;
      }
    }

    [data-ui='alert-content'] {
      flex: 1;
    }

    [data-slot='alert-close']:is(button) {
      background-color: transparent;
      color: currentcolor;
      border-color: transparent;

      &[data-slot='alert-close']:hover {
        background-color: color-mix(in srgb, currentcolor 10%, transparent);
        color: currentcolor;
      }
    }
  }
}
