@layer components {
  [data-ui='banner'] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-12);
    height: 44px;
    padding-inline: var(--spacing-12);
    width: 100%;

    /* Content */
    [data-ui='banner-content'] {
      font: var(--font-body-md);
    }

    /* Icon */
    [data-slot='banner-icon'] {
      display: flex;
      flex-shrink: 0;

      svg {
        color: var(--color-banner);
        height: 20px;
        width: 20px;
      }
    }

    /* Status */
    &[data-status='error'] {
      --color-banner: var(--color-error);
      --color-on-banner: var(--color-on-error);
      --color-banner-container: var(--color-error-container);
      --color-on-banner-container: var(--color-on-error-container);
    }

    &[data-status='warning'] {
      --color-banner: var(--color-warning);
      --color-on-banner: var(--color-on-warning);
      --color-banner-container: var(--color-warning-container);
      --color-on-banner-container: var(--color-on-warning-container);
    }

    &[data-status='feature'] {
      --color-banner: var(--color-on-surface-variant);
      --color-on-banner: var(--color-surface-variant);
      --color-banner-container: var(--color-surface-container);
      --color-on-banner-container: var(--color-on-surface);
    }

    &[data-status='success'] {
      --color-banner: var(--color-success);
      --color-on-banner: var(--color-on-success);
      --color-banner-container: var(--color-success-container);
      --color-on-banner-container: var(--color-on-success-container);
    }

    &[data-status='info'] {
      --color-banner: var(--color-info);
      --color-on-banner: var(--color-on-info);
      --color-banner-container: var(--color-info-container);
      --color-on-banner-container: var(--color-on-info-container);
    }

    /* Variant */
    &[data-variant='filled'] {
      background-color: var(--color-banner);
      color: var(--color-on-banner);

      svg {
        color: currentColor;
      }

      [data-slot='banner-close']:is([data-ui='button']) {
        svg {
          color: var(--color-on-banner);
        }

        &:hover {
          background-color: color-mix(in srgb, var(--color-on-banner) 12%, transparent);
        }

        &:active {
          background-color: color-mix(in srgb, var(--color-on-banner) 20%, transparent);
        }
      }
    }

    &[data-variant='light'] {
      background-color: color-mix(in srgb, var(--color-banner-container), var(--color-banner) 24%);
      color: var(--color-on-banner-container);

      [data-slot='banner-close']:is([data-ui='button']) {
        svg {
          color: var(--color-on-banner-container);
        }

        &:hover {
          background-color: color-mix(in srgb, var(--color-on-banner-container) 12%, transparent);
        }

        &:active {
          background-color: color-mix(in srgb, var(--color-on-banner-container) 20%, transparent);
        }
      }
    }

    &[data-variant='lighter'] {
      background-color: var(--color-banner-container);
      color: var(--color-on-banner-container);

      [data-slot='banner-close']:is([data-ui='button']) {
        svg {
          color: var(--color-on-banner-container);
        }

        &:hover {
          background-color: color-mix(in srgb, var(--color-on-banner-container) 12%, transparent);
        }

        &:active {
          background-color: color-mix(in srgb, var(--color-on-banner-container) 20%, transparent);
        }
      }
    }

    &[data-variant='stroke'] {
      border-block-end: 1px solid var(--color-surface-variant);

      [data-slot='banner-close']:is([data-ui='button']) {
        svg {
          color: var(--color-banner);
        }

        &:hover {
          background-color: color-mix(in srgb, var(--color-banner) 12%, transparent);
        }

        &:active {
          background-color: color-mix(in srgb, var(--color-banner) 20%, transparent);
        }
      }
    }
  }
}
